body {
  position: relative;
  width: 1440px;
  height: 3559px;
  background: #010001;
}
.navbar {
  position: absolute;
  width: 1231px;
  height: 16.71px;
  left: 104px;
  top: 53px;
}
.logo {
  height: 16.7056884765625px;
  width: 138.1180877685547px;
  border-radius: 0px;
}
.navbar-logo {
  left: 104px;
  top: 53px;
}
.navbar-menu-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 262px;
  height: 14px;
  left: 589px;
  top: 54px;
}
.navbar-menu-others {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 137px;
  height: 14px;
  left: 1198px;
  top: 54px;
}
.navbar-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.title_main {
  position: absolute;
  width: 382px;
  height: 75px;
  left: 529px;
  top: 190px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #ffffff;
}
.title_main-description-text {
  position: absolute;
  width: 268px;
  height: 44px;
  left: 586px;
  top: 291px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: lowercase;

  color: #ffffff;
}
.vertical_line {
  position: absolute;
  width: 59px;
  height: 0px;
  left: 720px;
  top: 361px;

  border: 1px solid #ffffff;
  transform: rotate(90deg);
}
.img-planet_earth {
  position: absolute;
  width: 1437px;
  height: 1006px;
  left: 1px;
  top: 367px;
}
.falcon_heavy-specifications-title {
  position: absolute;
  width: 177px;
  height: 68px;
  left: 149px;
  top: 1865px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23.5px;
  line-height: 33.6px;
  text-transform: uppercase;

  color: #ffffff;
}
.rocket_image {
  position: absolute;
  width: 644px;
  height: 1718px;
  left: 691px;
  top: 1307px;
}
