@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
  position: relative;
  width: 1440px;
  height: 3559px;
  margin: 0;

  background: #010001;
}

.navbar {
  position: absolute;
  width: 1231px;
  height: 16.71px;
  left: 104px;
  top: 53px;
  display: flex;
}

.logo {
  height: 16.7056884765625px;
  width: 138.1180877685547px;
  border-radius: 0px;
}

.navbar-logo {
  position: absolute;
  display: inline-block;
  left: 104px;
  top: 53px;
}

.navbar-menu-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 262px;
  height: 14px;
  left: 589px;
  top: 54px;
}

.navbar-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  text-decoration: none;

  flex: none;
  flex-grow: 0;
}

.navbar-btn-main {
  color: #ffffff;
}
.f9 {
  width: 46px;
}
.fh {
  width: 72px;
}
.dr {
  width: 39px;
}
.up {
  width: 45px;
}

.navbar-menu-others {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 137px;
  height: 14px;
  left: 1198px;
  top: 54px;
}

.navbar-btn-others {
  color: #808080;
}

.title_main {
  position: absolute;
  width: 382px;
  height: 75px;
  left: 529px;
  top: 190px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #ffffff;
}

.title_main-description-text {
  position: absolute;
  width: 268px;
  height: 44px;
  left: 586px;
  top: 291px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  line-height: 22.4px;
  text-align: center;
  text-transform: lowercase;

  color: #ffffff;
}

.vertical_line {
  position: absolute;
  width: 59px;
  height: 0px;
  left: 720px;
  top: 361px;
  margin-left: -29.5px;
  margin-top: 26px;

  z-index: 1;

  border: 1px solid #ffffff;
  transform: rotate(90deg);
}

.img-planet_earth {
  position: absolute;
  width: 1437px;
  height: 1006px;
  left: 1px;
  top: 367px;
}

.fh-specifications-title {
  position: absolute;
  width: 177px;
  height: 68px;
  left: 149px;
  top: 1865px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  text-transform: uppercase;

  color: #ffffff;
}

.fh-specifications-box {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 179.69%;

  color: #ffffff;
}

.text_gray {
  color: #b2b0b2;
}

.height {
  position: absolute;
  width: 64px;
  height: 32px;
  left: 149px;
  top: 1978px;

  border: 1px solid #000000;
}

.height-value {
  position: absolute;
  width: 119px;
  height: 32px;
  right: 884px;
  top: 1978px;

  border: 1px solid #000000;
}

.diameter {
  position: absolute;
  width: 87px;
  height: 32px;
  left: 149px;
  top: 2021px;
}

.diameter-value {
  position: absolute;
  width: 124px;
  height: 32px;
  right: 879px;
  top: 2021px;
}

.mass {
  position: absolute;
  width: 49px;
  height: 32px;
  left: 149px;
  top: 2064px;
}

.mass-value {
  position: absolute;
  width: 215px;
  height: 32px;
  right: 788px;
  top: 2064px;
}
.payload_to_leo {
  position: absolute;
  width: 141px;
  height: 32px;
  left: 149px;
  top: 2107px;
}
.payload_to_leo-value {
  position: absolute;
  width: 178px;
  height: 32px;
  right: 825px;
  top: 2107px;
}
.payload_to_gto {
  position: absolute;
  width: 148px;
  height: 32px;
  left: 149px;
  top: 2150px;
}
.payload_to_gto-value {
  position: absolute;
  width: 167px;
  height: 32px;
  right: 836px;
  top: 2150px;
}

.payload_to_mars {
  position: absolute;
  width: 158px;
  height: 32px;
  left: 149px;
  top: 2193px;
}

.payload_to_mars-value {
  position: absolute;
  width: 167px;
  height: 32px;
  right: 836px;
  top: 2193px;
}

.rocket_image {
  position: absolute;
  width: 644px;
  height: 1718px;
  left: 691px;
  top: 1307px;
}

.fh-description-title {
  position: absolute;
  height: 68px;
  width: 173px;
  left: 149px;
  top: 2443px;

  font-family: "Roboto";
  font-style: bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 0em;
  text-align: left;
  vertical-align: top;

  color: #ffffff;
}

.fh-description-text {
  position: absolute;
  width: 490px;
  height: 145px;
  left: 149px;
  top: 2556px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.75px;
  vertical-align: top;
  text-align: left;

  color: #ffffff;
}

/*footer*/

.footer-logo {
  position: absolute;
  left: 651px;
  top: 3208px;
}

/*Соцсети*/

.social_network {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 544px;
  height: 21px;
  left: 448px;
  top: 3268px;
}

.social-btn {
  display: inline-block;
  height: 21px;
  text-decoration: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  vertical-align: top;

  flex: none;

  flex-grow: 0;

  color: #ffffff;
}

.social_tw {
  width: 56px;
}
.social_yo {
  width: 66px;
}
.social_in {
  width: 82px;
}
.social_fl {
  width: 44px;
}
.social_li {
  width: 68px;
}
.social_pr {
  width: 59px;
}
.social_po {
  width: 49px;
}

.social-email-text_information {
  position: absolute;
  width: 455px;
  height: 21px;
  left: 492px;
  top: 3317px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #808080;
}

.social-email-btn {
  box-sizing: border-box;

  position: absolute;
  width: 260px;
  height: 60px;
  left: 590px;
  top: 3368px;

  border: 2px solid #ffffff;
  border-radius: 6px;
}
.social-email-btn_text {
  position: absolute;
  width: 87px;
  height: 21px;
  left: 677px;
  top: 3388px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;

  align-items: center;
  text-align: center;

  color: #ffffff;
}
